<header id="siteHeader" class="fixed">
<div class="container_12">
  <%= link_to image_tag('logo.png', :border=>0,size: '36x184',class: 'original-width'), home_path, class: 'grid_3' %>
  <nav id="mainNav" class="grid_9">
    <ul>
      <li> <%= link_to "for sale" , '#' %> </li>
      <li> <%= link_to "sold-out" , '#' %> </li>
      <li>｜</li>
      <li> <%= link_to "case study" , '#' %> </li>
      <li> <%= link_to "column" , '#' %> </li>
      <li> <%= link_to "tips" , '#' %></li>
    </ul>
  </nav>
  <div class="clear"></div>
</div>
</header>